# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# dependencies
node_modules

# environment variables and api keys
.env
.env.development
.env.production

# ds store files in all subdirectories
**/.DS_Store

# logging
server.log